<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About DUT Safety & Maintenance</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="icon" href="https://raw.githubusercontent.com/ThobaniGabuza/DUT-PBD/main/favicon.png" type="image/x-icon">
  </head>
  <body>

    <header class="header">

        <div class="logo">
          <a href="{{ url_for('home') }}">
            <img src="https://user-images.githubusercontent.com/63377582/230875073-4b8a6f5d-2502-4767-98bf-09a2b41278f4.png" alt="DUT">
          </a>
        </div>

      <nav>
          <ul>
            <li><a href="{{ url_for('home') }}">HOME</a></li>
            <li><a href="{{ url_for('news') }}">NEWS</a></li>
            <li><a href="{{ url_for('departments') }}">DEPARTMENTS</a></li>
            <li><a href="{{ url_for('about') }}">ABOUT</a></li>
            <li><button onclick="location.href='/login'">SIGN IN</button></li>
          </ul>
        </nav>

    </header>

    <main class="main">

      <section class="about-section">

        <h1>About DUT Safety & Maintenance</h1>

        <p>Welcome to the new DUT Safety & Maintenance website. This platform is designed to provide students and staff members with a quick and easy way to report issues related to safety and maintenance on campus. Whether you notice a broken handrail, a burnt-out light, or any other potential hazard, simply log in to the website and submit a report. Our team will receive your report and attend to the issue as soon as possible.</p>

      </section>

    </main>
  </body>
</html>
