<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NEWS Safety & Maintenance</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="icon" href="https://raw.githubusercontent.com/ThobaniGabuza/DUT-PBD/main/favicon.png" type="image/x-icon">
  </head>
  <body>

    <header class="header">

        <div class="logo">
          <a href="{{ url_for('home') }}">
            <img src="https://user-images.githubusercontent.com/63377582/230875073-4b8a6f5d-2502-4767-98bf-09a2b41278f4.png" alt="DUT">
          </a>
        </div>

      <nav>
          <ul>
            <li><a href="{{ url_for('home') }}">HOME</a></li>
            <li><a href="{{ url_for('news') }}">NEWS</a></li>
            <li><a href="{{ url_for('departments') }}">DEPARTMENTS</a></li>
            <li><a href="{{ url_for('about') }}">ABOUT</a></li>
            <li><button onclick="location.href='/login'">SIGN IN</button></li>
          </ul>
        </nav>

    </header>
<main>
  <div class="container">
    <h1 class="text-center">Latest News</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <img class="card-img-top" src="https://raw.githubusercontent.com/ThobaniGabuza/DUT-PBD/main/community_article.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Campus Community Came Together to Raise Awareness about Safety and Maintenance Issues</h5>
            <p class="card-text">A group of passionate students from DUT came together on Friday, 7 April 2023 to spread awareness about safety and maintenance issues on campus. </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img class="card-img-top" src="https://raw.githubusercontent.com/ThobaniGabuza/DUT-PBD/main/report_article.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Report Campus Maintenance Issues with Your Smartphone</h5>
            <p class="card-text">As part of our ongoing commitment to improving campus safety and maintenance, we are excited to announce that students can now report issues using their smartphones.  </p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <img class="card-img-top" src="https://raw.githubusercontent.com/ThobaniGabuza/DUT-PBD/main/safety-inspectors_article.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Safety Inspectors Review Maintenance Issues Reported by Students</h5>
            <p class="card-text">The safety and maintenance of our campus is of utmost importance to us, and we are always striving to improve it.  </p>
            <a href="#" class="btn btn-primary">Read More</a>
<br>
<h3>Contact Us</h3>
<p> P O Box 1334<br>Durban, KwaZulu-Natal 4000<br>Phone:<a href="tel:0313732000">(031) 373 2000 (DBN)</a><br>Email:<a href="mailto:info@dut.ac.za">info@dut.ac.za</a><br><a href="https://www.google.com/maps/place/Durban+University+of+Technology+Steve+Biko+Campus,+Musgrave,+Berea,+4001/@-29.853769,30.9972131,16z/data=!3m1!4b1!4m6!3m5!1s0x1ef7a9e89e4cd98d:0x95e25e2cd5e9f213!8m2!3d-29.8536128!4d31.0061131!16s%2Fg%2F11bw22hvf4y" target="_blank">View On Google Maps</a></p>



        </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>