<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DUT Safety & Maintenance HOME</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="icon" href="https://raw.githubusercontent.com/ThobaniGabuza/DUT-PBD/main/favicon.png" type="image/x-icon">
  </head>
  <body>


        <h1>Thank you for submitting you report!</h1>
        <p>We appreciate your feedback.</p>
        <p>The Department Of Safety & Maintenance Will Look Into It.</p>
        <a href="{{ url_for('home') }}">Back to Homepage</a>

  </body>